.second {
	max-width: 100vw;
	min-height: 100vh;
}

.second__header {
  text-align: center;
  margin: 100px 0 0 0;
  color: #3a3a3a;
  font-size: 40px;
  font-weight: 400;
  }

.second__header--description {
  margin: 35px 0 0 0;
  text-align: center;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
}

.grid-container {
  box-sizing: border-box;
  margin: 50px 75px 0 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 42px;

  grid-template-areas:
  "grid-container__box-first grid-container__box-second grid-container__box-third";
}

.grid-container__box-first {
	grid-area: grid-container__box-first;
}

.grid-container__box-second {
	grid-area: grid-container__box-second;
}

.grid-container__box-third {
	grid-area: grid-container__box-third;
	
}

.box {
	margin-bottom: 16px;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.16);
}

.box__image {
  display: block;
	width: 100%;
}

.box__header {
	margin-top: 42px;
	color: #3a3a3a;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}

.box__date {
	margin-top: 16px;
	color: #3a3a3a;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
}

.box__description {
	margin-top: 25px;
	color: #3a3a3a;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}

.box__link {
	display: block;
	width: 200px;
	height: 60px;
	border: 2px solid #90b861;
	background-color: #ffffff;
	text-decoration: none;
	padding: 18px 38px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #90b861;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}

//FLEXBOX ALTERNATIVE CSS + HTML


// .second {
//   min-height: 100vh;
//   max-width: 100vw;
// }

// .second__header {
//   text-align: center;
//   margin: 130px 0 0 0;
//   color: #3a3a3a;
//   font-size: 40px;
//   font-weight: 400;
// }

// .second__header--description {
//   margin: 35px 0 0 0;
//   text-align: center;
//   color: #3a3a3a;
//   font-size: 16px;
//   font-weight: 400;
// }

// .second__articles {
// 	padding: 50px 20px 0 20px;
// 	display: flex;
// 	justify-content: space-between;
// }

// .second__articles--box {
// 	max-width: 500px;
// }

// .box__image {
// 	display: block;
// 	width: 100%;
// }


// <section class="second">

//       <h2 class="second__header">NAJNOWSZE ARTYKUŁY</h2>
//       <p class="second__header--description">Lorem ipsum solor damon que velocis numer ono ratun damon que velocis
//         numer
//       </p>

//       <div class="second__articles">
//         <article class="second__articles--box">
//           <img class="box__image" src="assets/img/image-box-1.png" alt="alejka pośród drzew">
//           <h3 class="box__header">LAND LIGHTS LET BE DIVIDED</h3>
//           <p class="box__date">22.09.2019</p>
//           <p class="box__description">Ut enim ad minima veniam, quis nostrum exercitationem ullam et suscipit
//             laboriosam,
//             nisi ut aliquid ex ea commodi consequatur. Et mollis, est non […]</p>
//           <a class="box__link" href="#">CZYTAJ WIĘCEJ</a>
//         </article>

//         <article class="second__articles--box">
//           <img class="box__image" src="assets/img/image-box-2.png" alt="czerwone kwiaty">
//           <h3 class="box__header">LAND LIGHTS LET BE DIVIDED</h3>
//           <p class="box__date">22.09.2019</p>
//           <p class="box__description">Ut enim ad minima veniam, quis nostrum exercitationem ullam et suscipit
//             laboriosam,
//             nisi ut aliquid ex ea commodi consequatur. Et mollis, est non […]</p>
//           <a class="box__link" href="#">CZYTAJ WIĘCEJ</a>
//         </article>

//         <article class="second__articles--box">
//           <img class="box__image" src="assets/img/image-box-3.png" alt="drzewa jesienną porą">
//           <h3 class="box__header">LAND LIGHTS LET BE DIVIDED</h3>
//           <p class="box__date">22.09.2019</p>
//           <p class="box__description">Ut enim ad minima veniam, quis nostrum exercitationem ullam et suscipit
//             laboriosam,
//             nisi ut aliquid ex ea commodi consequatur. Et mollis, est non […]</p>
//           <a class="box__link" href="#">CZYTAJ WIĘCEJ</a>
//         </article>
//       </div>

//     </section>
