@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap&subset=latin-ext');

@import "modules/hero.scss";
@import "modules/second.scss";
@import "modules/contact.scss";


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background-image: url(../assets/img/gardener.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.top-nav {
  position: fixed;
  display: block;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 60px 0 200px;

  &__menu {
    display: none;

    @media (max-width: 950px) {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      height: 40px;
      width: 40px;
      border: none;
      padding: 5px;
      font-size: 25px;
      background: none;
    }
  }

  &__image {
    position: absolute;
    display: inline-block;
    height: 100px;
    width: auto;
    top: 20px;
    left: 50px;
  }

  &__list {
    display: block;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &--item {
      display: inline-block;

      .link {
        text-decoration: none;
        color: #3a3a3a;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

// .bottom-nav {
  //   border: 1px solid #707070;
  //   background-color: #3a3a3a;
  //   padding: 0 200px;
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   grid-column-gap: 150px;
  
  //   grid-template-areas:
  //   "bottom-nav__image bottom-nav__box-rod bottom-nav__box-so bottom-nav__box-pol";
  
  //   @media (max-width: 700px) {
  //     grid-template-columns: 1fr;
  //     grid-column-gap: 0;
  //     grid-template-areas:
  //     "bottom-nav__image"
  //     "bottom-nav__box-rod"
  //     "bottom-nav__box-so"
  //     "bottom-nav__box-pol";
  //     margin: 0 0 10px 0;
  //     padding: 0 0 30px 0;
  //   }
  
  //   &__image {
  //     grid-area: bottom-nav__image;
  //     display: block;
  //     width: 219px;
  //     height: 236px;
  //     margin: 50px auto;
  //     @media (max-width: 700px) {
  //       padding: 0;
  //       margin: 30px auto;
  //     }
  //   }
  
  //   &__box-rod {
  //     grid-area: bottom-nav__box-rod;
  //   }
  
  //   &__box-so {
  //     grid-area: bottom-nav__box-so;
  //   }
  
  //   &__box-pol {
  //     grid-area: bottom-nav__box-pol;
  //   }
  // }
  
  // .box-nav {
  //   text-align: center;
  //   color: #e5e5e5;
  //   font-size: 15px;
  //   &__title {
  //     font-weight: 700;
  //     line-height: 30px;
  //     margin: 51px 0 0 0;
  //   }  
  //   &__list {
  //     list-style: none;
  //     padding: 0;
  //     margin: 16px 0 0 0;
  //     &--item {
  //       font-weight: 400;
  //       line-height: 40px;
  //     }
  //     &--link {
  //       text-decoration: none;
  //       color: #e5e5e5;
  //     }
  //   }
  // }
  



// .footer {
//   margin: 0 150px 0 150px;
//   height: 67px;
//   font-family: Poppins;
//   color: #3a3a3a;
//   display: flex;
//   justify-content: space-between;
//   @media (max-width: 700px) {
//     display: flex;
//     flex-direction: column;
//     margin: 0 10px 10px 10px;
//     padding: 0;
//     text-align: center;
//   }
//   &__copyrights {
//     font-size: 15px;
//     font-weight: 400;
//     line-height: 15px;
//     margin: auto 0;
//     padding: 0;
//     @media (max-width: 700px) {
//       margin: 0;
//       padding: 0;
//     }
//   }
//   &__made-by {
//     display: block;
//     margin: auto 0;
//     padding: 0;
//     @media (max-width: 700px) {
//       margin: 0;
//       padding: 0;
//     }
//     &--strong {
//       font-weight: 700;
//     }     
//     &--orange {
//       color: #ec9b20;
//     }
//   }
// }







