@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.first {
  height: 100vh;
  max-width: 100vw;
  background: url(../assets/img/gardener.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.first__header {
  position: absolute;
  z-index: 1;
}

.side-navigation {
  display: none;
}

.second {
  height: 100vh;
}

